@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Clementson Movies Inc</h2>
    <p class="lead">Aenean placerat placerat efficitur. Ut sodales pharetra pretium. In hac habitasse platea dictumst.
    Donec aliquam mauris diam, ac accumsan est semper nec. Etiam interdum pharetra dui, non feugiat erat aliquam nec. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movie List</h2>
        <p>
            Aliquam erat volutpat. Nulla in odio tincidunt ante placerat ultricies. Aenean hendrerit velit augue, vel ultricies mauris convallis et.
            Integer tellus justo, egestas sed sollicitudin in, imperdiet sit amet est. Donec feugiat quis lacus in hendrerit. Etiam vitae imperdiet tellus.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44329/Movies">View Movie List</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Movies</h2>
        <p>Integer facilisis, lacus nec efficitur semper, metus dolor placerat leo, at condimentum est quam vel tellus.
        Aenean vitae augue accumsan, hendrerit felis vitae, vehicula augue. Proin ac rutrum nisi, ac lacinia quam. </p>
        <p><a class="btn btn-default" href="https://localhost:44329/Movies/Create">Create Movie</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another Title</h2>
        <p>Vivamus metus purus, hendrerit iaculis finibus ut, scelerisque eget magna. Pellentesque finibus velit mi, id lacinia nunc tempus eget.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Button</a></p>
    </div>
</div>